@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .icon-button {
    @apply flex items-center justify-center p-3 space-x-2 text-sm font-semibold transition-opacity rounded-md shadow hover:opacity-80;
  }
  .popup-section {
    @apply absolute right-0 z-50 p-3 mt-2 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg dark:bg-gray-600 dark:text-gray-50 ring-1 ring-black ring-opacity-5 focus:outline-none top-full;
  }
  .popup-fixed-section {
    @apply z-50 p-3 mt-2 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg dark:bg-gray-600 dark:text-gray-50 ring-1 ring-black ring-opacity-5 focus:outline-none;
  }
  ._link_cs_chat {
    color: #ffffff;
  }
  .icon-button__badge {
    position: relative;
    width: 12px;
    height: 12px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -34px;
    right: -20px;
  }
  .menu-content > * {
    @apply w-full p-2 transition-colors rounded-md hover:bg-gray-100;
  }
  .custom-input {
    @apply w-full px-6 py-4 font-medium transition-colors bg-[#374151] border-0 rounded-md dark:bg-gray-800 dark:text-gray-50 placeholder:text-sm placeholder:text-[#627274] outline-transparent;
  }
  .focus .chatContainer {
    animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) 4;
  }
}
